*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #a4b3b6;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.container-fluid{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
[class^='col-']{
    padding: 6px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
   
    
    
/* xs */
.col-xs-1{ width: 8.33%; }
.col-xs-2{ width: 16.66%; }
.col-xs-3{ width: 25%; }
.col-xs-4{ width: 33.33%; }
.col-xs-5{ width: 41.66%; }
.col-xs-6{ width: 50%; }
.col-xs-7{ width: 58.33%; }
.col-xs-8{ width: 66.66%; }
.col-xs-9{ width: 75%; }
.col-xs-10{ width: 81.33%; }
.col-xs-11{ width: 91.66%; }
.col-xs-12{ width: 100%; }

/* sm */
@media screen and (min-width : 576px){
    .col-sm-1{ width: 8.33%; }
    .col-sm-2{ width: 16.66%; }
    .col-sm-3{ width: 25%; }
    .col-sm-4{ width: 33.33%; }
    .col-sm-5{ width: 41.66%; }
    .col-sm-6{ width: 50%; }
    .col-sm-7{ width: 58.33%; }
    .col-sm-8{ width: 66.66%; }
    .col-sm-9{ width: 75%; }
    .col-sm-10{ width: 81.33%; }
    .col-sm-11{ width: 91.66%; }
    .col-sm-12{ width: 100%; }

    /* size loader */
    body .loader-container img{
        width: 30%;
    }
    
    .container #profile{
        padding: 20px;
    }
    
    section#start-profile {
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 50px;
    }
    #start-profile .names{
        text-align: left;
    }

    /* Button */
    .btn-contact-us .btn{
        border: 2px solid #6a32aa;
        border-radius: 16px;
        padding: 8px 60px;
        transition: all .4s;
        font-size: 18px;
        background-color: #6a32aa;
        color: #ccc;

    }

    

    /* Swiper */
    .swiper-slide .part-image-main img {
        width: 400px;
        height: 400px;
    }

    .descriptions-works-art .specifications-works-art{
        display: flex;
        flex-direction: row;
    }
    .specifications-works-art .specifications-works-art-title {
        padding-top: 20px;
    }
    
    .specifications-works-art-desc{
        padding-left: 30px;
    }
    
    /* Footer */
    .section-info-footer .icons-footer li{
        font-size: 35px;
    }
}

/* md */
@media screen and (min-width : 768px){
    .col-md-1{ width: 8.33%; }
    .col-md-2{ width: 16.66%; }
    .col-md-3{ width: 25%; }
    .col-md-4{ width: 33.33%; }
    .col-md-5{ width: 41.66%; }
    .col-md-6{ width: 50%; }
    .col-md-7{ width: 58.33%; }
    .col-md-8{ width: 66.66%; }
    .col-md-9{ width: 75%; }
    .col-md-10{ width: 81.33%; }
    .col-md-11{ width: 91.66%; }
    .col-md-12{ width: 100%; }

    /* size loader */
    body .loader-container img{
        width: 25%;
    }

    .container #profile{
        padding: 20px 40px;
    }
    header .nav-bar-menu{       
        width: 340px;
    }
    header .nav-bar-menu li a{
        padding: 11px 18px;
    }

    .specifications-works-art .specifications-works-art-text p{
        font-size: 21px;
    }
    
    
    /* Swiper */
    .swiper-slide .part-image-main img {
        width: 320px;
        height: 320px;
    } 

    /* Footer */
    .section-info-footer .icons-footer li{
        font-size: 40px;
    }
    
    
}

/* lg */
@media screen and (min-width : 992px){
    .col-lg-1{ width: 8.33%; }
    .col-lg-2{ width: 16.66%; }
    .col-lg-3{ width: 25%; }
    .col-lg-4{ width: 33.33%; }
    .col-lg-5{ width: 41.66%; }
    .col-lg-6{ width: 50%; }
    .col-lg-7{ width: 58.33%; }
    .col-lg-8{ width: 66.66%; }
    .col-lg-9{ width: 75%; }
    .col-lg-10{ width: 81.33%; }
    .col-lg-11{ width: 91.66%; }
    .col-lg-12{ width: 100%; }

    /* size loader */
    body .loader-container img{
        width: 20%;
    }

    /* scroll broswer */
    ::-webkit-scrollbar {
        height: 19px;
        width: 19px;
        background: #aec5cf;
      }
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(-120deg ,#241736fa , #7a6e88fa);
        -webkit-border-radius: .9ex;
        border: 2px solid #aec5cf;
    }
    ::-webkit-scrollbar-corner {
        background: linear-gradient(-120deg ,#241736fa , #7a6e88fa);
    }
    
    .names .name-brand{
        font-size: 37px;
        letter-spacing: 2px;
    }
    .names .name-person{
        font-size: 32px;
        line-height: 50px;
        letter-spacing: 2px;
    } 
    .names .name-job{
        font-size: 20px;
        letter-spacing: 1px;
    }

    /* Button */
    .btn-contact-us .btn{
        border: 2px solid #6a32aa;
        border-radius: 16px;
        background-color: transparent;
        padding: 8px 70px;
        color: #875eb6;
        transition: all .4s;
        font-size: 18px;
    }
    .btn-contact-us .btn:hover{
        background-color: #6a32aa;
        color: #ccc;
    }

    /* Swiper */
    .swiper-slide .part-image-main img {
        width: 310px;
        height: 310px;
    } 

    /* specifications-works-art-img => magnifying Board Art */
    .specifications-works-art-img {
    background-image: url(../images/art-board.JPG);
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    }
    .specifications-works-art-img img:hover {
    opacity: 0;
    }
    .specifications-works-art-img img {
    transition: opacity .5s;
    display: block;
    }

    
}

/* xl */
@media screen and (min-width : 1200px){
    .col-xl-1{ width: 8.33%; }
    .col-xl-2{ width: 16.66%; }
    .col-xl-3{ width: 25%; }
    .col-xl-4{ width: 33.33%; }
    .col-xl-5{ width: 41.66%; }
    .col-xl-6{ width: 50%; }
    .col-xl-7{ width: 58.33%; }
    .col-xl-8{ width: 66.66%; }
    .col-xl-9{ width: 75%; }
    .col-xl-10{ width: 81.33%; }
    .col-xl-11{ width: 91.66%; }
    .col-xl-12{ width: 100%; }
    
    
    
    

}

/* xxl */
@media screen and (min-width : 1400px){
    .col-xxl-1{ width: 8.33%; }
    .col-xxl-2{ width: 16.66%; }
    .col-xxl-3{ width: 25%; }
    .col-xxl-4{ width: 33.33%; }
    .col-xxl-5{ width: 41.66%; }
    .col-xxl-6{ width: 50%; }
    .col-xxl-7{ width: 58.33%; }
    .col-xxl-8{ width: 66.66%; }
    .col-xxl-9{ width: 75%; }
    .col-xxl-10{ width: 81.33%; }
    .col-xxl-11{ width: 91.66%; }
    .col-xxl-12{ width: 100%; }

    .introduction-exhibition .introduction-exhibition-text h1{
        font-size: 80px;
    }
    .introduction-exhibition .introduction-exhibition-text h2{
        font-size: 51px;
    }
}
